body {
}
/*static menu*/
body.landing #header{
    /*position:fixed;*/
}
#banner {
    background-image: url('../../images/ecuador-night-pic.jpg');
}
#myName{
    font-size:3em;
}
.image:before{
    background-image:none !important;
}
.container .jg-pic .image {
    width:16em;
    height:16em;
}
.jg-pic .image{
    border-radius:100%;
}
.spotlight:before {
    background-image: none;
}
.sm-margin{
    margin:-.5em 0 1.5em 0;
}
header .md-p{
    font-size:1.25em;
}
.animationList li{
    font-weight:400;
    font-size:1.5em;
    list-style:none;
    display:inline-block;
    opacity:1;
    transition: all 2.5s ease;
}
.animationList.hidden li{
    opacity:0;
}
.animationList.hidden li:nth-child(1) { transform: translateX(300px) translateY(-300px);}
.animationList.hidden li:nth-child(2) { transform: translateX(580px) translateY(200px);}
.animationList.hidden li:nth-child(3) { transform: translateX(-200px) translateY(50px);}
.animationList.hidden li:nth-child(4) { transform: translateX(100px) translateY(200px);}
.animationList.hidden li:nth-child(5) { transform: translateX(200px) translateY(-230px);}
.animationList.hidden li:nth-child(6) { transform: translateX(-300px) translateY(300px);}
.animationList.hidden li:nth-child(7) { transform: translateX(120px) translateY(180px);}
.animationList.hidden li:nth-child(8) { transform: translateX(0px) translateY(-200px);}
.animationList.hidden li:nth-child(10) { transform: translateX(-500px) translateY(-255px);}
.animationList.hidden li:nth-child(11) { transform: translateX(0px) translateY(200px);}
.animationList.hidden li:nth-child(12) { transform: translateX(-350px) translateY(-210px);}
.animationList.hidden li:nth-child(13) { transform: translateX(0px) translateY(200px);}
.animationList.hidden li:nth-child(14) { transform: translateX(250px) translateY(-200px);}
.animationList.hidden li:nth-child(15) { transform: translateX(-650px) translateY(190px);}
.animationList.hidden li:nth-child(16) { transform: translateX(-250px) translateY(-283px);}
.animationList.hidden li:nth-child(17) { transform: translateX(0px) translateY(200px);}
.animationList.hidden li:nth-child(18) { transform: translateX(350px) translateY(-200px);}
.lg-github{
    font-size:1.5em;
}
#githubText{
    font-size:1.5em;
}
.new-btn{
    background-color:rgba(255,255,255,.8);
    color:#272833 !important;
}
.image.fit.cons{
    display: inline;
    margin: 0 1% 0 .5%;
    width: 49%;
    float:left;
    overflow:hidden;
}
.image.fit.cons img {
    width:auto;
}
.image.fit.cons2{
    display: inline;
    margin: 0 0 0 0;
    width: 49%;
    float:left;
}
.image.fit.cons2 img{
    width:auto;
}
.arrow{
    font-size:4em;
}
.screenShots{
    font-size:2em;
}
.screenShotIcons li{
    list-style:none;
    display:inline-block;
    margin:0;
    cursor:pointer;
}
.screenShotIcons{
    padding-left:0;
}
.new-BG{
    /*background:rgb(228,76,101);*/
    background:rgb(39,40,51);
    padding:2em 0 .5em 0;
}
/*.icon.major.sm{
    color:rgb(39,40,51);
}*/
.wrapper.style2{
    /*background:rgb(28,29,38);*/
}
#footer{
    background:rgb(39,40,51);
    padding:2em 0;
}
.icon.major.sm{
    color:rgb(39,40,51);
    background:rgb(255,255,255);
    height:4em;
    line-height:4em;
    width:4em;
    margin:0 0 0 0;
}
#less-margin{
    margin-bottom:2em;
}






